
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.codex-editor{
  margin-left: 0em;
  padding-left: 3em;
}

.ce-toolbar__plus {
  border:1px;
  border-style: solid;
  border-color: #999;
  border-radius: 50%;
  color: #999;


}



@tailwind base; 
@tailwind components; 
@tailwind utilities;
