
.codex-editor{
  margin-left: 0em;
  padding-left: 3em;
}

.ce-toolbar__plus {
  border:1px;
  border-style: solid;
  border-color: #999;
  border-radius: 50%;
  color: #999;


}



@tailwind base; 
@tailwind components; 
@tailwind utilities;
